<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <style>
    #title{
      text-align: center;

    }


    #desc{
      text-align: center;
      margin-top: 30px;
    }


    .btn {
  background: #47004d;
  background-image: -webkit-linear-gradient(top, #47004d, #270340);
  background-image: -moz-linear-gradient(top, #47004d, #270340);
  background-image: -ms-linear-gradient(top, #47004d, #270340);
  background-image: -o-linear-gradient(top, #47004d, #270340);
  background-image: linear-gradient(to bottom, #47004d, #270340);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #47004d;
  text-decoration: none;
  cursor:pointer;
}

    .login{
      margin-top: 40px;
      margin-left: 800px;
      position: absolute;
    }


    .register{
      margin-top: 40px;
      margin-left: 500px;
      position: absolute;
    }


  </style>


<title>Meal Matcher | Home</title>
  </head>
  <body>
    <div id="content-wrapper">
    <h1 id= "title"><span id="bold">Meal</span><span id="light"> Matcher</span></h1>
    <h3 id="desc">Find the perfect meal, for you</h3>
    <%= button_to "Login", login_path, method: :get, class: 'btn login' %>
    <%= button_to "Register", registration_path, method: :get, class: 'btn register' %>

  </div>
  </body>
</html>
