<style media="screen">
/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
#large-header {
	background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}
.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}
.main-title .thin {
	font-weight: 200;
}
@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}
  html, body {
      height: 100%;
      margin: 0;
  }
  #large-header {
      z-index: -100;
      min-height: 100%;
  }
  .btn {
    background: #4f012c;
    background-image: -webkit-linear-gradient(top, #4f012c, #360125);
    background-image: -moz-linear-gradient(top, #4f012c, #360125);
    background-image: -ms-linear-gradient(top, #4f012c, #360125);
    background-image: -o-linear-gradient(top, #4f012c, #360125);
    background-image: linear-gradient(to bottom, #4f012c, #360125);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 3px;
    font-family: 'Courier New';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:none;
		width:150px;
		cursor:pointer;

  }

  .btn:hover{
    cursor:pointer;
  }
  .login{
    position: absolute;
		margin-top: 20px;
		margin-left: 50px;

  }
	.register{
		margin-top: 20px;
    position: absolute;
		margin-left: -200px;
  }
	#content{
		text-align: center;
		height: 100%;
	}
	#bar{
		height:2px;
		width:400px;
		margin-top:20px;
		background-color: #f9f1e9;
			position: absolute;
			text-align: center;
			top: 50%;
			left: 50%;
			-webkit-transform: translate3d(-50%,-50%,0);
			transform: translate3d(-50%,-50%,0);
	}
	#desc{
		color: #f9f1e9;
		text-align: center;
		margin-top: 440px;

	}

  #button_content{
    margin-top: -200px;
  }
</style>


<head>
  <title>Meal Matcher | Home</title>
</head>

<body>

<!-- TODO: Make buttons a lighter color !-->

	<div id="content">

  <div id="large-header" class="large-header">
    <h1 class="main-title">Meal <span class="thin">Matcher</span></h1>
		<div id="bar"></div>


  <h3 id='desc'>Find the perfect meal, for you</h3>
  </div>

  <div id="button_content">






  <a class="frame-btn register" href="/registration/">
	<span class="frame-btn__outline frame-btn__outline--tall">
		<span class="frame-btn__line frame-btn__line--tall"></span>
		<span class="frame-btn__line frame-btn__line--flat"></span>
	</span>
	<span class="frame-btn__outline frame-btn__outline--flat">
		<span class="frame-btn__line frame-btn__line--tall"></span>
		<span class="frame-btn__line frame-btn__line--flat"></span>
	</span>
	<span class="frame-btn__solid"></span>
	<span class="frame-btn__text"><b>Register</b></span>
</a>



<a class="frame-btn login" href="/login/">
<span class="frame-btn__outline frame-btn__outline--tall">
  <span class="frame-btn__line frame-btn__line--tall"></span>
  <span class="frame-btn__line frame-btn__line--flat"></span>
</span>
<span class="frame-btn__outline frame-btn__outline--flat">
  <span class="frame-btn__line frame-btn__line--tall"></span>
  <span class="frame-btn__line frame-btn__line--flat"></span>
</span>
<span class="frame-btn__solid"></span>
<span class="frame-btn__text">Login</span>
</a>
</div>

</div>


</body>
